{% extends 'main.html' %}
{% block content %}

<div class="page-title-wrapper">
    <h1>Movies</h1>
</div>



<div class="connections-wrapper">
    <a href="{% url 'movie_create' %}">   Scrape data from "imdb.com"</a>
    <a href="{% url 'movie_delete' %}">   Delete</a>
    <a href="{% url 'movie_create' %}">   Run script</a>
    <text>Database size: {{count}}</text>
    <p></p>
</div>

<div class="search-wrapper">
    <form method="GET">
        <input type="text" name="search_area" value="{{search_input}}" size="64">
        <input type="submit" value="Search">
    </form>
    <p></p>
</div>

<div class="movie-items-wrapper">
    {% for movie in movies %}
    <div class="movie-wrapper">
        <a href="{% url 'movie' movie.pk %}">
            {{movie.title}}
        </a>
        <td class="rating" align="left">{{movie.user_rating}}</td>
    </div>
    {% empty %}
    <p>The database is empty</p>
    {% endfor %}
</div>

{% endblock content %}